# telemetry-secret.env.template
# Template for telemetry secret environment variables
# The RHOAI operator should populate these values at deployment time
# by copying this template to telemetry-secret.env and filling in the values
#
# Per RHOAISTRAT-575 requirements for Red Hat Observatorium authentication
#
# To populate these values, the RHOAI operator should:
# 1. Extract telemetry-token from pull-secret in openshift-config namespace:
#    oc get secret/pull-secret -n openshift-config -o jsonpath='{.data.\.dockerconfigjson}' | base64 -d | jq -r '.auths."cloud.openshift.com".auth'
# 2. Get cluster-id from ClusterVersion:
#    oc get clusterversion version -o jsonpath='{.spec.clusterID}'
#
telemetry-token=PLACEHOLDER_TELEMETRY_TOKEN
cluster-id=PLACEHOLDER_CLUSTER_ID